# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName eqnomie.nl
AuthUserFile /var/www/vhosts/eqnomie.nl/httpdocs/_vti_pvt/service.pwd
AuthGroupFile /var/www/vhosts/eqnomie.nl/httpdocs/_vti_pvt/service.grp
